*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/build.gradle
MADEContentProviderReceiver/local.properties
MADEContentProviderReceiver/.idea/caches
MADEContentProviderReceiver/.idea/libraries
MADEContentProviderReceiver/.idea/modules.xml
MADEContentProviderReceiver/.idea/workspace.xml
MADEContentProviderReceiver/.idea/navEditor.xml
MADEContentProviderReceiver/.idea/assetWizardSettings.xml
MADEContentProviderReceiver/build
MADEContentProviderReceiver/captures
